<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.Mapper.CategoryMapper">
    <select id="findAll" resultType="Category">
        select categoryId,categoryName,categoryLevel,categoryFlag,parentId,categoryRank
        from category
    </select>
    <insert id="doAdd" parameterType="Category">
        insert into category
        (categoryName,categoryLevel,categoryFlag,parentId,categoryRank)
        VALUES
        (#{categoryName},#{categoryLevel},#{categoryFlag},#{parentId},#{categoryRank})
    </insert>

    <select id="find" parameterType="int" resultType="Category">
        select categoryId,categoryName,categoryLevel,categoryFlag,parentId,categoryRank
        from category
        where categoryId = #{categoryId}
    </select>

    <update id="doUpdate" parameterType="Category">
        update category
        set categoryName=#{categoryName},
            categoryLevel=#{categoryLevel},
            categoryFlag=#{categoryFlag},
            parentId=#{parentId},
            categoryRank=#{categoryRank}
        where categoryId=#{categoryId}
    </update>
    <select id="findLevel" parameterType="int" resultType="Category">
        select *
        from category
        where categoryLevel = #{categoryLevel}
    </select>
    <select id="findSon" parameterType="int" resultType="Category">
        select *
        from category
        where parentId = #{parentId}
    </select>
    <select id="findGrandson" parameterType="Category">
        select *
        from category
        where parentId = #{findSon(category.parentId)}
    </select>
</mapper>