<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.Mapper.OrdersMapper">


    <resultMap id="ordersMap" type="Orders" autoMapping="true">
        <id column="ordersId" property="ordersId"/>
        <association property="goods" javaType="Goods" autoMapping="true">
            <id column="goodsId" property="goodsId"/>
        </association>
    </resultMap>



    <select id="findAll" resultMap="ordersMap">
        select
               o.ordersId,o.ordersFlag,o.ordersStatus,o.ordersProduceDate,o.ordersPurchaser,o.ordersAddress,o.ordersPhone,o.ordersPost,o.ordersCompany,o.ordersNumber,o.ordersDate,g.goodsId,g.goodsName,g.goodsPrice,g.goodsXiangqing,g.goodsFlag,g.storesId
        from orders o
        join goods g
        on o.goodsId = g.goodsId
    </select>

    <select id="find" parameterType="int" resultMap="ordersMap">
        select o.ordersId,o.ordersFlag,o.ordersStatus,o.ordersProduceDate,o.ordersPurchaser,o.ordersAddress,o.ordersPhone,o.ordersPost,o.ordersCompany,o.ordersNumber,o.ordersDate,g.goodsId,g.goodsName,g.goodsPrice,g.goodsXiangqingg.goodsFlag,g.storesId
        from orders o
        join goods g
        on o.goodsId = g.goodsId
        where o.ordersId=#{ordersId}
    </select>

    <insert id="doAdd" parameterType="Orders">
        insert into orders
        (ordersFlag,ordersStatus,ordersProduceDate,ordersPurchaser,ordersAddress,ordersPhone,ordersPost,ordersCompany,ordersNumber,ordersDate,goodsId)
        VALUES
        (#{ordersFlag},#{ordersStatus},#{ordersProduceDate},#{ordersPurchaser},#{ordersAddress},#{ordersPhone},#{ordersPost},#{ordersCompany},#{ordersNumber},#{ordersDate},#{goods.goodsId})
    </insert>



    <update id="doUpdate" parameterType="Orders">
        update orders
        set ordersFlag=#{ordersFlag},
            ordersStatus=#{ordersStatus},
            ordersProduceDate=#{ordersProduceDate},
            ordersPurchaser=#{ordersPurchaser},
            ordersAddress=#{ordersAddress},
            ordersPhone=#{ordersPhone},
            ordersPost=#{ordersPost},
            ordersCompany=#{ordersCompany},
            ordersNumber=#{ordersNumber},
            ordersDate=#{ordersDate},
            goodsId=#{goods.goodsId}
        where ordersId=#{ordersId}
    </update>
</mapper>